
<div class="row">
<select class="form-control form-control-sm col-2" onchange={{action "setChart" value="target.value"}}>
  <option value="login">Login</option>
  <option value="password" selected>Password</option>
  <!--<option value="column">Column</option>
  <option value="bar">Bar</option>
  <option value="scatter">Scatter</option>-->
</select>
<div class="col-2">
<input type="radio" name="chart" onchange={{action "setType" "line"}} checked>Line
</div>
<div class="col-2">
<input type="radio" name="chart" onchange={{action "setType" "area"}}>Area
</div>
<div class="col-2">
<input type="radio" name="chart" onchange={{action "setType" "column"}}>Column
</div>
<div class="col-2">
<input type="radio" name="chart" onchange={{action "setType" "bar"}}>Bar
</div>
<div class="col-2">
<input type="radio" name="chart" onchange={{action "setType" "scatter"}}>Scatter
</div>
</div>
<div class="row">
  <div id="chartSpace" class="col-7">
  </div>
  <div id="pieSpace" class="col-5">
  </div>
</div>
<div id="extra">
</div>
<div class="modal hide" id="mymodal">
  <div class="modal-dialog" style="max-width: 80%!important;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{#list-filter as |filteredResults|}}
      {{#employee-listing emp=filteredResults}}
    	{{/employee-listing}}
      {{/list-filter}}
      <div class="modal-body">
        <script id="table-template" type="text/x-handlebars-template">
        {{!--#list-filter employees=details as |filteredResults|--}}
        {{!--/list-filter--}}
      </script>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
